:root {
    --Very-Large-Text: clamp(25px, calc(10vw + 1rem), 250px);
    --Large-Text: clamp(25px, calc(3vw + 1rem), 200px);
    --Medium-Text: clamp(25px, calc(1vw + 2rem), 150px);
    --Small-Text: clamp(25px, calc(1vw + 1rem), 100px);
}

* {
    touch-action:manipulation;
}

html {
    height:100%;
    min-height: 500px;
    /* overflow-y: hidden; */
}

body, #mainDiv {
    height:95%;
}

body {
    min-width:450px;
    padding:0;
    margin:0;
}

button {
    touch-action: auto;
    font-size: var(--Medium-Text);
    * {
        font-size: var(--Medium-Text);
    }
}

.smallText {
    font-size: var(--Small-Text);
}

#endGameDiv {
    margin:50px auto;
    font-size: 2rem;
    width:90%;
    height:80%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;
}

#infoSection {
    background-color:green;
    margin:0;
    border-style:solid;
    border-width: 0 0 6px 0;
    border-color: #333;
    
    display:grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
}

#moneyDisplay {
    padding-left: 1rem;

    & h1 {
        color:white;
        font-size: var(--Large-Text);
        margin: auto 0;
    }
}

#waterDisplay {
    background-color: rgb(180, 180, 180);
    height:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    & * {
            grid-area: 1/1;
        }
    & h1 {
        color:white;
        margin: auto 0 auto 1rem;
        padding: 0;
        font-size: var(--Large-Text);
        min-width:max-content;
    }
    & > #waterDisplayBar {
        background-color: blue;
        height: 100%;
        width:40%;
    }
}



#mainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
}

.largeSection {
    width: clamp(450px, 45%, 1250px);
    height: clamp(200px, 70vh, 90%);
    border-radius: 36px;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    padding: 2rem 0 2rem 0;
    * {
        margin:auto auto;
    }
    & > h1 {
        font-size: var(--Very-Large-Text);
    }
}

@media only screen and (max-width:1200px), only screen and (min-height:1200px) {
    #mainDiv {
        flex-wrap: wrap;
    }
    
   .largeSection {    
        width: 70%;
        height: 45%;
        & > h1 {
            font-size: var(--Very-Large-Text);
        }
    }
    #infoDiv {
        & h1 {
            /* min-width: fit-content; */
            color:red;
        }
    }
}

@media only screen and (max-width:950px) {

    .largeSection {
        width: 90%;
        height: 45%;
    }
}

@media only screen and (max-width:600px) {
    .largeSection {
        width: 100%;
    }
}  

#promptSection {
    background-color: red;
    & > h1 {
        color: #ffcccc;
    }   
}

#promptButton {
    background-color: #999;
    width: 75%;
    height: 100%;
    border-radius: 1500px;
    border-width:0px;
}

#waterSection {
    background-color: blue;
    > h1 {
        color: #ccccff;
    }
}
#waterButton {
    background-color: #999;
    width: 75%;
    height: 100%;
    border-radius: 1500px;
    border-width:0px;
}

.buySection {
    width:95%;
    height:95%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1rem;
    > button {
        align-self: center;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-radius: 40px;
        border-width: 0;
    }
}

button:active {
    animation-name: buttonClick;
    animation-duration: 0.2s;
}

@keyframes buttonClick {
    0% {filter:brightness(1); transform: scale(1)}
    25% {filter:brightness(.77); transform:scale(1.02)}
    90% {filter:brightness(.77); transform:scale(.98)}
    100% {filter:brightness(1); transform: scale(1)}
}

