html {
    height:100%;
    min-height: 500px;
    /* overflow-y: hidden; */
}

body, #mainDiv {
    height:95%;
}

body {
    min-width:450px;
    padding:0;
    margin:0;
}

#infoSection {
    background-color:green;
    margin:0;
    padding: 1vh 0;
}

#moneyDisplay {
    color:white;
    font-size: clamp(5vh, 4vw, 300px);
    margin:0;
}

#mainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    > div {
        width: clamp(450px, 45%, 1250px);
        height: clamp(200px, 70vh, 90%);
        border-radius: 36px;
        display:flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        > h1 {
            font-size: clamp(25px, 10rem, 250px);
            margin:0;
            padding:0;
        }
    }
}

@media only screen and (max-width:1200px) {
    #mainDiv {
        flex-direction: column;
        align-items: space-evenly;
        justify-content: space-evenly;
        > div {
            width: 70%;
            height: 45%;
        }
    }
}

#promptSection {
    background-color: red;
    * {
        flex-shrink: 0;
    }
    > h1 {
        color: #ffcccc;
    }   
}

#promptButton {
    background-color: #999;
    width: 75%;
    height: 10%;
    border-radius: 1500px;
    border-width:0px;
    
}

#waterSection {
    background-color: blue;
    * {
        flex-shrink: 0;
    }
    > h1 {
        color: #ccccff;
    }
}
#waterButton {
    background-color: #999;
    width: 75%;
    height: 10%;
    border-radius: 1500px;
    border-width:0px;
}
#waterButton:active {
    animation-name: buttonClick;
    animation-duration: 0.1s;
}

.buySection {
    width:90%;
    height:150px;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    /* 
    display:flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap; */
    > button {
        /* flex-grow: .1; */
        align-self: center;
        margin: 0 auto;
        height: 90%;
        width: 90%;
        border-radius: 40px;
        border-width: 0;
    }
}

button:active {
    animation-name: buttonClick;
    animation-duration: 0.1s;
}

@keyframes buttonClick {
    0% {filter:brightness(1); transform: scale(1)}
    25% {filter:brightness(.77); transform:scale(1.02)}
    90% {filter:brightness(.77); transform:scale(.98)}
    100% {filter:brightness(1); transform: scale(1)}
}

